body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
  margin: 10px 0 10px 0 !important;
  color: #000;
  width: fit-content;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
    color: hsl(238, 60%, 48%) !important;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    
}

.publication-authors a {
  color: hsl(238, 60%, 48%) !important;
  font-family: 'Merriweather', serif;
  font-weight: 500;
}


.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}


.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.results-carousel .item label {
  font-size: 16px; 
}

.results-carousel .controls {
  display: flex;
  align-items: center;
  margin: 5px;
}

.results-carousel .controls span {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px; 
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.results-carousel .controls input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}




.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
